* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
/.ddev export-ignore
.env.ci export-ignore
.gitattributes export-ignore
.editorconfig export-ignore
.php-cs-fixer.dist.php export-ignore
psalm.xml export-ignore
ruleset.xml export-ignore
