/node_modules
/public/hot/
/public/storage/
/public/api-rendered-markdowns/*
/public/api/
/public/uploads/
/public/backend/
/public/frontend/
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
.env
storage/logs/laravel.log
/laradock*/
_ide_helper*.php
.phpstorm.meta.php
vendor/
resource/views/
resource/lang/
