* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
/.ddev export-ignore
/tests export-ignore
.deptrac.cache export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.php-cs-fixer.cache export-ignore
.phpunit.result.cache export-ignore
testbench.yaml export-ignore
