/node_modules
/public/storage
/public/hot
/storage/*.key
/storage/*.index
/vendor
Homestead.json
Homestead.yaml
.env
storage/logs/laravel.log
/public/api/
/public/api-markdowns/
/public/uploads/
/laradock*/
