/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env

storage/logs/laravel.log
/public/api/
/public/uploads/
/laradock*/

/node_modules/
!public/**/
public/*/*
!public/img/default-avatar.png

!app/Containers/
app/Containers/*
!app/Containers/Admin/
!app/Containers/Authentication/
!app/Containers/Authorization/
!app/Containers/Country/
!app/Containers/Debugger/
!app/Containers/Documentation/
!app/Containers/Settings/
!app/Containers/Socialauth/
!app/Containers/Stripe/
!app/Containers/User/
!app/Containers/Welcome/
