includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
parameters:
	level: max
	paths:
		- app
		- config
		- tests
		- .php-cs-fixer.dist.php
	tmpDir: phpstan_cache

