<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Portainers Tests">
            <directory>./app/Containers/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="API_FULL_URL" value="http://api.hello.dev"/>

        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>

        <env name="DB_CONNECTION" value="testing_sqlite_in_memory"/>
        <env name="TESTING_DB_HOST" value="192.168.99.100"/>
        <env name="TESTING_DB_PORT" value="3307"/>
        <env name="TESTING_DB_NAME" value="helloapi"/>
        <env name="TESTING_DB_USERNAME" value="helloapi"/>
        <env name="TESTING_DB_PASSWORD" value="helloapi"/>
    </php>
</phpunit>
