<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd" bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix=".php">./app/Containers/*/*/Tests/Unit</directory>
        </testsuite>
        <testsuite name="Functional">
            <directory suffix=".php">./app/Containers/*/*/UI/*/Tests/Functional</directory>
        </testsuite>
        <testsuite name="Ship-Unit">
            <directory suffix=".php">./app/Ship/Tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./app</directory>
        </include>
        <exclude>
            <directory suffix=".php">./app/Containers/Vendor</directory>
            <!-- NOTE: Exclude the following directories because they fail when directly included with code-coverage-->
            <directory suffix=".php">./app/Containers/*/*/UI/*/Routes</directory>
            <directory suffix=".php">./app/Containers/*/*/Data/Factories</directory>
            <!-- NOTE: Exclude tests from coverage-->
            <directory suffix=".php">./app/Containers/*/*/Tests</directory>
            <directory suffix=".php">./app/Containers/*/*/UI/*/Tests</directory>
            <!-- NOTE: Exclude blade files from coverage-->
            <directory suffix=".blade.php">./app</directory>
        </exclude>
    </source>
    <coverage includeUncoveredFiles="true" ignoreDeprecatedCodeUnits="true"
              pathCoverage="true" disableCodeCoverageIgnore="false">
        <report>
            <html outputDirectory="html_coverage" lowUpperBound="50" highLowerBound="90"/>
        </report>
    </coverage>
    <php>
        <env name="API_FULL_URL" value="http://api.apiato.test"/>
        <env name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <!-- <env name="DB_CONNECTION" value="sqlite"/> -->
        <!-- <env name="DB_DATABASE" value=":memory:"/> -->
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
    </php>
</phpunit>
