[project]
	description = API starter providing everything to build a modern API with PHP on top of Laravel
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mahmoud Zalt (Mahmoudz)
[access "refs/for/refs/*"]
	read = group user/Mahmoud Zalt (Mahmoudz)
	push = group user/Mahmoud Zalt (Mahmoudz)
	label-Code-Review = -2..+2 group user/Mahmoud Zalt (Mahmoudz)
	label-Verified = -1..+1 group user/Mahmoud Zalt (Mahmoudz)
	rebase = group user/Mahmoud Zalt (Mahmoudz)
	removeReviewer = group user/Mahmoud Zalt (Mahmoudz)
	submit = group user/Mahmoud Zalt (Mahmoudz)
[access "refs/heads/*"]
	read = group user/Mahmoud Zalt (Mahmoudz)
	create = group user/Mahmoud Zalt (Mahmoudz)
	push = +force group user/Mahmoud Zalt (Mahmoudz)
	pushMerge = group user/Mahmoud Zalt (Mahmoudz)
[access "refs/tags/*"]
	push = +force group user/Mahmoud Zalt (Mahmoudz)
	pushTag = group user/Mahmoud Zalt (Mahmoudz)
	pushSignedTag = group user/Mahmoud Zalt (Mahmoudz)
