---
layout: null
sitemap: false
---

$body-background-color: #2196F3;

$content-max-width: 800px;
$content-color: #222;
$content-background-color: #ECEFF1;

$brand-colour: #2196F3;
$brand-colour-light: mix($brand-colour, $content-background-color, 10%);

$nav-header-background-color: $brand-colour;
$nav-header-height: 60px;
$nav-background-color: #e6e9eb;
$nav-width: 250px;

$space: 12px;

$mobile-break: 700px;
$full-width-break: $nav-width + ($space * 4) + $content-max-width;

@import "mixins";
@import "normalize";
@import "pygments";
@import "typography";
@import "code";
@import "tables";
@import "layout";
