pre, code, tt {
	font-family: Inconsolata, Consolas, Courier, "Courier New", "Liberation Mono", monospace;
	font-size: 0.85em;
	white-space: pre-wrap;
	border-radius: 2px;
	line-height: 1.7;
	font-weight: 400;
	background-color: #47555f;
	color: #FAFAFA;
    padding: 2px 8px 2px 8px;
    font-style: normal;
}

pre {
	box-sizing: border-box;
	margin: 0 0 1.75em 0;
	width: 100%;
	padding: 10px;
	font-size: 0.9em;
	white-space: pre;
	overflow: auto;
	border-radius: 3px;

	code, tt {
		font-size: inherit;
		white-space: pre-wrap;
		background: transparent;
		border: none;
		padding: 0
	}
}

blockquote > code,
li > code,
p > code {
	padding: 2px 2px;
	white-space: nowrap;
    background: #ffffff;
    color: #FF5722;
    font-size: 16px;
}
